
body {
  background-color: rgb(19, 189, 223);
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}


header {
  background-color: #13293d;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}


h1 {
 
  font-size: 30px;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration:underline;
}
#banner{
width: 100%;
height: 10%;


}
main {
  margin: 2rem;

}

#about img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}


.project a {
  color:#ffffff;


}
section {
  margin-bottom: 2rem;
}

.container {
  display:block;
  width: 70%;
    margin: 0 auto;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    
  }
  
  #container1 {
    background-color: #d70808;
    margin-bottom: 50px;
  
  }
  
  #container2 {

    background-color: #13293d;
    border-radius: none;
    margin-bottom: 50px;
    
  }
  


  
  #container5,  #container4  {
    background-color:#13293d;
    margin-bottom: 50px;
    

  }

  .column {
    
    width: 20%;
   float:left;
    padding: 80px;
  }
  
  .column {

  width: 33.33%;
  float:right;
  padding: 80px;
  }
  
  #container2 img{
width: 100%;
height:500px;

  }
#container5 img, #container4 img{

  
  width: 100%;
  height: 300px;
  border-radius: solid;
  border-color: blue;

}
h2 {
  color: rgb(19, 18, 18);
  text-align: center;
  text-decoration: underline;
  font-size: 28px;
  margin-bottom: 1rem;
}

h3 {
  color: #fff;
text-align: center;
  font-size: 28px;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}


footer{

  display: flex;
    margin-top: 100px;
    margin-bottom: 1px;
    left: 20px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    background-color: #13293d;
    color: #fff;
  }


  footer li {
display:inline-block;
margin: 50px;
justify-content: end;
color: #fff;
  }

  footer a{
  text-decoration: none;
  color:white;
  }


