:root {
  --primary-color: #13293d;
  --secondary-color: #d70808;
  --tertiary-color: #ffffff;
  --border-color: blue;
  --text-color: var(--tertiary-color);
  --background-color: rgb(19, 189, 223);
  ;
}


body {
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

header {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

img.hero-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

h1 {

  font-size: 30px;
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 1rem;
}

nav a {
  color: var(--text-color);
  text-decoration: underline;
}

#banner {
  width: 100%;
  height: 10%;
}

main {
  margin: 2rem;
}

#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.about-text {
  width: 50%;
  padding: 2rem;
}

.about-image {
  height: 400px;
  width: 50%;
  background-image: url('./images/softwaree.jpg');
}

#about img {
  width: 40vw;
}

.project a {
  color: var(--text-color);
}

section {
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#container1 {
  background-color: #d70808;
  margin-bottom: 50px;
}

#container2 {
  background-color: var(--primary-color);;
  margin-bottom: 50px;
  flex-direction: column;
}

#container5,
#container4 {
  background-color: var(--primary-color);;
  margin-bottom: 50px;
}

.column {
  width: 50%;
  padding: 80px;
}

.column h2 {
  color: var(--text-color);
  font-size: 20px;
  text-align: left;
}

.column p {
  color: var(--text-color);
  font-size: 20px;
}

#container2 img {
  width: 100%;
  height: 500px;
}

#container5 img,
#container4 img {
  width: 100%;
  height: 300px;
  border-radius: solid;
  border-color: var(--border-color);
}

h2 {
  color: rgb(19, 18, 18);
  text-align: center;
  text-decoration: underline;
  font-size: 28px;
  margin-bottom: 1rem;
}

h3 {
  color: var(--text-color);
  text-align: center;
  font-size: 28px;
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

footer {
  display: flex;
  margin-top: 100px;
  margin-bottom: 1px;
  left: 20px;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  background-color: #13293d;
  color: var(--text-color);
}

footer li {
  display: inline-block;
  margin: 50px;
  justify-content: end;
  color: var(--text-color);
}

footer a {
  text-decoration: none;
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
  }

  .column {
    width: 95%;
    padding: 20px;
  }
}

}